<nav class="navbar">
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/collaboration">Collaboration</a></li>
    <li><a href="/science">Science</a></li>
    <li><a href="/technology">Technology</a></li>
    <li><a href="/facility">Facility</a></li>
    <li><a href="/education">Education</a></li>
    <li><a href="/gather">Gather</a></li>
  </ul>
<div class="social-icons">
  <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
  <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
</div>

</nav>
