{% include head.html %}
{% include navi.html %}

<div class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
	<a class="pull-right" href="/logo">
	  <img width="100" src="/assets/logo/Ge-starlogo.png">
	</a>
	<h2 class="tagline">Ge-STAR</h2>
	<p class="lead tagline">Germanium-based Science and Technology Advancement Research</p>
      </div>
      <div class="col-md-6">
	<a class="pull-left" href="https://www.nsf.gov">
	  <img width="115" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/NSF_logo.png">
	</a>
	<h2 class="text-right tagline">NSF</h2>
	<p class="lead text-right tagline">National Science Foundation</p>
      </div>
    </div>
    <br>
    <p class="lead tagline">Ge-STAR is a statewide research incubator that integrates artificial intelligence (AI) to revolutionize high-purity germanium (Ge) crystal growth and detector development. Its mission is to enable advances in dark matter detection, medical imaging, and scientific education by leveraging South Dakota's unique infrastructure and diverse institutional collaboration.</p>
  </div>
</div>

<div class="container">
  {{ content }}
</div>
{% include foot.html %}
